<div class="container">
    <div class="startView">
        <h3>{{ 'start.title' | translate }}</h3>
        <input
                class="cityInput"
                type="text"
                [placeholder]="'start.placeholder' | translate"
                [value]="city"
                (input)="onCityInput($event)"
                (keyup.enter)="searchWeather()"
        />
        <button class="btn"
                (click)="searchWeather()"
                [disabled]="!city || city.trim() === ''">
            {{ 'start.search' | translate }}
        </button>
    </div>
</div>

