<div class="weather">
    <div class="container">
        <div class="today">
            <div class="location">
                <h2>{{ getDayOfWeekForToday()}}</h2>
                <h1>{{ weatherData?.location?.name }}</h1>
                <h4>{{ weatherData?.location?.region}}</h4>
                <h3>{{ weatherData?.location?.country}}</h3>
                <p>{{ getCurrentTemperature() }}°C</p>
            </div>

            <div class="image">
                <img
                        class="weatherImage"
                        alt="Weather Icon"
                        [src]="'http:' + (weatherData?.current?.condition?.icon || '')"
                />
            </div>
            <div class="weatherDetails">
                <p><strong>{{ 'weather.feelsLike' | translate }}</strong> {{ getFeelsLikeTemp()}} °C</p>
                <p><strong>{{ 'weather.conditions' | translate }}</strong> {{ weatherData?.current?.condition?.text }}
                </p>
                <p><strong>{{ 'weather.humidity' | translate }}</strong> {{ weatherData?.current?.humidity }} %</p>
                <p><strong>{{ 'weather.pressure' | translate }}</strong> {{ weatherData?.current?.pressure_mb }} hPa</p>
                <p><strong>{{ 'weather.wind' | translate }}</strong> {{ weatherData?.current?.wind_mph }} mph</p>
            </div>
        </div>
        <div class="hourly-forecast">
            <div class="scroll-wrapper">
                <button class="scroll-left" *ngIf="showLeftArrow" (click)="scrollLeft()">&#9665;</button>
                <div class="scroll-container" #scrollContainer>
                    <div class="hour-box" *ngFor="let hour of getHourlyForecast()">
                        <p><strong></strong> {{ hour.time }}</p>
                        <img [src]="'http:' + hour.condition.icon" alt="Weather Icon"/>
                        <p><strong></strong> {{ hour.temp_c }} °C</p>
                        <p><strong></strong> {{ hour.condition.text }}</p>
                    </div>
                </div>
                <button class="scroll-right" *ngIf="showRightArrow" (click)="scrollRight()">&#9655;</button>
            </div>
        </div>

    </div>

    <div class="forecast">
        <div class="card" *ngFor="let day of filteredForecast">
            <h3>{{ getDayLabel(day.date) }}</h3>
            <img [src]="'http:' + day.day.condition.icon" alt="Weather Icon"/>
            <p>{{ day.day.condition.text }}</p>
            <p><strong>{{ 'weather.temp' | translate }}</strong>
                {{ 'weather.from' | translate }} {{ day.day.mintemp_c }}
                {{ 'weather.to' | translate }} {{ day.day.maxtemp_c }}°C</p>
            <p><strong>{{ 'weather.humidity' | translate }}</strong> {{  day.day.avghumidity + '%' }}</p>
            <p><strong>{{ 'weather.rain' | translate }}</strong> {{ day.day.daily_chance_of_rain }}%</p>
            <p><strong>{{ 'weather.sunrise' | translate }}</strong> {{ day.astro.sunrise }}</p>
            <p><strong>{{ 'weather.sunset' | translate }}</strong> {{ day.astro.sunset }}</p>
        </div>
    </div>
</div>
